// ========== Header ==========
.header__inner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    &.active {
        background: rgba(12, 17, 73, 1);
        position: fixed;
    }

    &.fixed {
        background: rgba(12, 17, 73, 1);
        box-shadow: 0 3px 30px #FF4747;
        position: fixed;
    }

    @media (max-width: 770px) {
        background: rgba(12, 17, 73, 0.7);
    }
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    max-width: clamp(1200px, 66vw, 1700px);
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;

    &.active {
        display: block;
        flex-direction: column;
        animation-name: menu;
        animation-duration: .5s;
        animation-fill-mode: both;
    }

    @keyframes menu {
        0% {
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }
}

.logo {
    width: clamp(50px, 3vw, 100px);
    height: clamp(50px, 3vw, 100px);
    cursor: pointer;
    margin: 1rem 0;
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &.active {
        display: flex;
        padding-bottom: 1rem;

        @media (max-width: 770px) {
            flex-direction: column;
        }
    }

    &::before {
        content: '';
        display: none;

        @media (max-width: 770px) {
            display: inline-block;
            border-top: 2px solid #FF4747;
            width: 100%;
        }
    }

    @media (max-width: 770px) {
        display: none;
    }
}

.nav__link {
    font-size: clamp(1.1rem, 1vw, 2rem);
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 3px 3px 5px #000;
    text-decoration: none;
    outline: none;
    padding: 0.25rem 0;
    transition: 0.2s;

    &:hover,
    &:focus {
        color: #FF4747;
    }
}

// ========== Burger ==========
.burger__inner {
    display: none;
    width: 82px;
    height: 82px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: 770px) {
        display: block;
    }
}

.hamburger__effect {
    transition: transform 400ms;

    .hamburger__line--top {
        stroke-dasharray: 40 82;
    }

    .hamburger__line--middle {
        stroke-dasharray: 40 111;
    }

    .hamburger__line--bottom {
        stroke-dasharray: 40 161;
    }

    &.active {
        transform: rotate(45deg);

        .hamburger__line--top {
            stroke-dasharray: 17 82;
            stroke-dashoffset: -62px;
        }

        .hamburger__line--middle {
            stroke-dashoffset: 23px;
        }

        .hamburger__line--bottom {
            stroke-dashoffset: -83px;
        }
    }
}

.hamburger__line {
    fill: none;
    stroke: #FF4747;
    stroke-width: 5.5;
    stroke-linecap: round;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}