// ========== Intro ==========
.intro__inner {
    display: flex;
    align-items: center;
    background: url("../img/backgrounds.jpg") center/cover no-repeat;
    width: 100%;
    height: 100vh;
    min-height: clamp(580px, 40vw, 890px);
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.title__intro {
    font-size: clamp(3rem, 5vw, 6rem);
    color: #0E3AB1;
    text-align: left;
    text-shadow: 3px 3px 3px #000;

    @media (max-width: 560px) {
        width: Min(80%, 330px);
    }
}

.description__intro {
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: left;
    text-shadow: 3px 3px 3px #000;
    color: #fff;
}

// ========== Event ==========
.events__inner {
    background: url("../img/background-line.jpg") center/cover no-repeat;
}

.cards__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: clamp(990px, 55vw, 1190px);
    width: 100%;
    padding: 2rem 0 0;
    margin: 0 auto;
}

.card__item {
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    max-width: 23rem;
    min-height: 28rem;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border: 4px solid #F3B31D;
    border-radius: 2rem;
    padding: 1rem;
    transition: 0.3s;

    &:hover {
        transform: scale(0.975);
    }
}

.card__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2.5rem 0;
}

.card__logo {
    width: clamp(4rem, 4vw, 5rem);
    height: clamp(4rem, 4vw, 5rem);
}

.card__vs {
    font-size: 2rem;
    color: #fff;
    margin: 0 clamp(1.5rem, 2vw, 3rem);
}

.card__text {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: clamp(2rem, 2vw, 4rem);
}

.description__card {
    display: flex;
    align-items: center;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 400;
    line-height: clamp(2rem, 3vw, 4rem);
    letter-spacing: 2px;
}

// ========== Window modal ==========  
.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.7s ease 0s;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal.active .modal__inner {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.modal__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 2rem 1rem;
}

.modal__inner {
    width: 100%;
    max-width: 800px;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    box-shadow: 0 0 3rem #ff4747;
    transition: all 0.7s ease 0s;
}

.modal__header {
    color: #fff;
    text-align: center;
    background-color: #fe005a;
    border: 3px solid #0c1149;
    padding: 1rem;
}

.modal__header--img {
    background: url("../img/champions-league.jpg") center / cover no-repeat;
}

.modal__header--color {
    background-color: #ff4747;
}

.modal__icon {
    fill: #ff4747;
    width: clamp(25px, 1vw, 40px);
    height: clamp(25px, 1vw, 40px);
    margin: 1rem;
}

.modal__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.teams {
    display: flex;
    justify-content: space-evenly;
}

.teams__main {
    display: flex;
    flex-basis: 33.33%;
    flex-direction: row;
    align-items: center;

    @media (max-width:490px) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.team__left {
    justify-content: flex-end;
    text-align: right;
}

.team__name {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    text-transform: uppercase;

    @media (max-width:490px) {
        order: 2;
    }
}

.team__link {
    margin: 1rem;
}

.team__icon {
    width: 35px;
    height: 35px;
}

.modal__date {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.team__right {
    justify-content: flex-start;
    text-align: left;
}

.team__left,
.team__right {
    @media (max-width: 490px) {
        text-align: center;
    }
}

.modal__charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

.chart__item {
    display: grid;
    grid-template-rows: 360px 1fr;
}

// ========== About ==========
.about__inner {
    padding: 6rem 0;
}

.about__window {
    display: flex;
    justify-content: center;
    max-width: 990px;
    padding-top: 3rem;
    margin: 0 auto;

    img {
        @media (max-width:850px) {
            display: none;
        }
    }
}

.content__about {
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: #fff;
    padding: 1rem;

    @media (max-width:850px) {
        background: url("../img/chelsea-white.jpg") center / cover no-repeat;
        align-items: center;
    }
}

.description__about {
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    line-height: 2.5rem;

    @media (max-width:850px) {
        text-align: center;
    }
}

// ========== Sponsors ==========
.sponsors__inner {
    background: #fff;
    padding: 3rem 1rem;
}

.content__sponsors {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.sponsor__item {
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }

    @media (max-width:1150px) {
        width: 30%;
    }

    @media (max-width:690px) {
        width: 50%;
    }
}

.sponsor__img {
    max-width: 100%;
}

// ========== Subscription ==========
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.input {
    color: #4F4F4F;
    width: 100%;
    max-width: 430px;
    height: 55px;
    border: 4px solid white;
    border-radius: 2rem;
    outline: none;
    padding: 0 1rem;
    margin-bottom: 2rem;
    transition: .3s;

    &:focus {
        border-color: #FF4747;
    }
}

.terms__link {

    &:hover,
    &:focus {
        color: #ff4747;
        outline: none;
        transition: 0.2s;
    }
}