// ========== Footer ==========
.footer__logo {
    width: clamp(100px, 5vw, 200px);
    height: clamp(100px, 5vw, 200px);
    transition: 0.5s;
}

.content__footer {
    flex-direction: row;
    align-items: initial;
    padding: 4rem 0 2rem;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;

    @media (max-width:900px) {
        width: 50%;
    }

    @media (max-width:690px) {
        width: 100%;
    }
}

.footer__item.address {
    @media (max-width:900px) {
        order: 4;
    }
}

.footer__item.social-media {
    @media (max-width:900px) {
        order: 3;
    }
}

.footer__item.services {
    @media (max-width:900px) {
        order: 2
    }
}

.footer__item.about {
    @media (max-width:900px) {
        order: 1;
    }
}

.title__footer {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @media (max-width:900px) {
        text-align: center;
    }
}

.description__footer {
    font-size: clamp(1.1rem, 1vw, 2rem);
    font-weight: 400;
    line-height: clamp(2rem, 2vw, 3rem);
    letter-spacing: .125rem;
    text-align: left;
}

.footer__link {
    font-size: clamp(1.1rem, 1vw, 2rem);
    margin: 1rem 0;
    letter-spacing: .125rem;

    a {
        color: #fff;
        transition: 0.2s;

        &:hover,
        &:focus {
            color: #FF4747;
            text-decoration: underline;
            outline: none;
        }
    }
}

.footer__media {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 3vw, 75px);
    height: clamp(50px, 3vw, 75px);
    background: #fff;
    border-radius: 50%;
    outline: none;
    transition: 0.2s;

    svg {
        fill: #0c1149;
        width: clamp(25px, 2vw, 40px);
        height: clamp(25px, 2vw, 40px);
    }

    &:hover,
    &:focus {
        background: #FF4747;
    }
}

.footer__rights {
    color: #fff;
    font-size: clamp(0.9rem, 1vw, 1.5rem);
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}