.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 55px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 3rem;
    border: .25rem solid #F3B31D;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding: 0 70px;
    transition: 0.2s;


    &:focus {
        color: #fff;
        background-color: #0c1149;
        border: 4px solid #FF4747;
    }
}

.btn__intro {
    width: Min(290px, 360px);
    background-color: #0E3AB1;
}

.btn__event {
    color: #000000;
    background-color: #fff;
    padding: 0 2rem;
}

.btn__about {
    max-width: 300px;
    background-color: #0E3AB1;
    padding: 0 2rem;

    &:hover {
        background-color: #FF4747;
        border: .25rem solid #FF4747;
    }

    @media (max-width:850px) {
        margin: 0 auto;
    }
}

.btn__join {
    background-color: #0E3AB1;
    margin: 0 0 1rem;
}

.btn__intro,
.btn__event,
.btn__join {
    &:hover {
        color: #fff;
        background-color: #FF4747;
        border: 4px solid #fff;
    }
}