// ========== Footer ==========
.footer {
    padding: 15px 0;
}

.footer__img {
    display: flex;
    justify-content: center;
}

.footer__logo {
    width: 100%;
}

.content__footer {
    flex-direction: row;
    align-items: initial;
    padding: 50px 0 25px;

    @media (max-width:900px) {
        justify-content: center;
        padding-bottom: 0;
    }
}

.footer__item {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;

    @media (max-width:900px) {
        width: 50%;
    }

    @media (max-width:680px) {
        width: 100%;
    }
}

.footer__item.address {
    @media (max-width:900px) {
        order: 4;
    }
}

.footer__item.social-media {


    @media (max-width:900px) {
        order: 3;
    }
}

.footer__item.services {
    @media (max-width:900px) {
        order: 2
    }
}

.footer__item.about {
    @media (max-width:900px) {
        order: 1;
    }
}

.title__footer {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width:900px) {
        text-align: center;
    }
}

.description__footer {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: left;
}

.footer__link {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    line-height: 35px;
    letter-spacing: 2px;

    &:hover {
        color: #FF4747;
        text-decoration: underline;
        transition: all 0.1;
    }
}

.icon {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: #FF4747;
    }
}

.footer__rights {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
}