// ========== Header ==========
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    @media (max-width: 770px) {
        background: rgba(12, 17, 73, 0.5);
    }
}

.header.active {
    position: fixed;
    background: rgba(12, 17, 73, 1);
}

.header.fixed {
    background: rgba(12, 17, 73, 1);
    box-shadow: 0 3px 30px #FF4747;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar.active {
    display: block;
    flex-direction: column;
}

.header__logo {
    cursor: pointer;
    margin: 10px 0;
    width: 60px;

    @media (max-height:400px) {
        padding: 5px 0;
        width: 55px;
    }
}

.nav {
    display: block;
    align-items: center;

    @media (max-width: 770px) {
        display: none;
    }
}

.nav::before {
    display: none;

    @media (max-width: 770px) {
        display: inline-block;
        content: "";
        border-top: 2px solid #FF4747;
        width: 105%;
    }
}

.nav.active {
    display: flex;

    @media (max-width: 770px) {
        flex-direction: column;
    }
}

.nav__link {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 0;
    margin-left: 30px;

    &:hover {
        color: #FF4747;
        transition: all 0.1;
    }

    &:first-child {
        margin-left: 0;
    }

    @media (max-width: 770px) {
        margin: 10px 0;
    }
}

// ========== Hamburger ==========
.burger {
    height: 80px;
    display: none;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -15px;

    @media (max-width:770px) {
        display: block;
    }
}

.ham {
    transition: transform 400ms;
    user-select: none;
}

.ham-rotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #FF4747;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.effect .top {
    stroke-dasharray: 40 82;
}

.effect .middle {
    stroke-dasharray: 40 111;
}

.effect .bottom {
    stroke-dasharray: 40 161;
}

.effect.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.effect.active .middle {
    stroke-dashoffset: 23px;
}

.effect.active .bottom {
    stroke-dashoffset: -83px;
}