// ========== Header ==========
.header__inner {
    width: 100%;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    @media (max-width: 770px) {
        background: rgba(12, 17, 73, 0.7);
    }
}

.header__inner.active {
    background: rgba(12, 17, 73, 1);
    position: fixed;
}

.header__inner.fixed {
    background: rgba(12, 17, 73, 1);
    box-shadow: 0 3px 30px #FF4747;
    position: fixed;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__menu.active {
    display: block;
    flex-direction: column;
}

.nav__logo {
    height: 60px;
    width: 60px;
    cursor: pointer;
    margin: 10px 0;

    @media (min-width: 2000px) {
        height: 100px;
        width: 100px;
    }

    @media (max-height:400px) {
        margin: 15px 0;
        height: 50px;
        width: 50px;
    }
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;

    @media (max-width: 770px) {
        display: none;
    }
}

.nav-links::before {
    content: '';
    display: none;

    @media (max-width: 770px) {
        display: inline-block;
        border-top: 2px solid #FF4747;
        width: 100%;
    }
}

.nav-links.active {
    display: flex;

    @media (max-width: 770px) {
        flex-direction: column;
    }
}

.nav-links li {
    margin-left: 30px;

    &:first-child {
        margin-left: 0;
    }

    @media (max-width: 770px) {
        margin: 10px 0;
    }
}

.nav__link {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 0;

    &:hover {
        color: #FF4747;
        transition: all 0.2s;
    }

    @media (min-width: 2000px) {
        font-size: 27px;
    }
}

// ========== Hamburger ==========
.burger {
    display: none;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width:770px) {
        display: block;
    }
}