// ========== Intro ==========
.intro__inner {
    display: flex;
    align-items: center;
    background: url("../img/backgrounds.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 580px;

    @media (min-width:2000px) {
        min-height: 890px;
    }
}

.intro__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
}

.title__intro {
    color: #0E3AB1;
    width: Min(80%, 800px);
    font-size: clamp(45px, 5vw, 100px);
    line-height: clamp(50px, 5vw, 125px);
    margin-bottom: 35px;

    @media (max-width: 560px) {
        width: Min(80%, 330px);
    }
}

.description__intro {
    width: Min(80%, 400px);
    font-size: clamp(18px,2vw,30px);
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px yellow;

    @media (max-width: 640px) {
        width: Min(80%, 350px);
    }
}

// ========== Event ==========
.events__inner {
    width: 100%;
    background: url("../img/background-line.jpg") center no-repeat;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
}

.cards__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    padding: 50px 0 100px;
    max-width: 990px;
    margin: 0 auto;

    @media (min-width: 2000px) {
        max-width: 1290px;
    }
}

.card__item {
    display: flex;
    flex: 0 1 33.333%;
    padding: 15px;
}

.card__wrapper {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border: 4px solid #F3B31D;
    border-radius: 35px;
    padding: 15px;
}

.card__text {
    display: flex;
    flex: 1 1 auto;
    margin: 0 0 30px 0;

    @media (min-width: 2000px) {
        margin: 0 0 60px 0;
    }
}

.title__cards {
    padding-top: 20px;
}

.card__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.card__logo {
    width: 64px;
    height: 64px;
}

.card__vs {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin: 0 20px;

    @media (min-width: 2000px) {
        margin: 0 50px;
    }
}

.description__card {
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 2px;

    @media (max-width: 770px) {
        font-size: 24px;
    }

    @media (min-width: 2000px) {
        font-size: 40px;
    }
}

// ========== Window modal ==========  


.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.7s ease 0s;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.modal__inner {
    background-color: #fff;
    color: #000;
    width: 100%;
    max-width: 800px;
    position: relative;
    transition: all 0.7s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    box-shadow: 0 3px 30px #ff4747;
}

.modal__charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

.chart__item {
    display: grid;
    grid-template-rows: 360px 1fr;
  }


// animation for modal-window
.modal.active .modal__inner {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.modal__header {
    color: #fff;
    background-color: #ff4747;
    // background: url("../img/light.jpg") center no-repeat;
    // background-size: cover;
    // text-align: center;
    border: 3px solid #0c1149;
    padding: 15px;
}

.preview__img {
    max-width: 100%;
}

.modal__disable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 2rem;
    font-weight: 700;
    color: #0c1149;
    cursor: pointer;
    transition: 0.3s;
    background-color: #fff;
    border: none;
    border-radius: 0 0 0 32rem;
    transition: all .2s;
}

.modal__disable:hover {
    background-color: #0c1149;
    color: #fff;
}

.match__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

// .match__icon {
//     margin-right: 15px;
// }

.match__img {
    width: 25px;
    height: 25px;
    margin: 1rem;
}

.teams {
    display: flex;
    justify-content: space-evenly;
}

.team__name {
    text-transform: uppercase;
    font-size: clamp(0.8rem, 1vw, 1.2rem);

    @media (max-width:490px) {
        text-align: center;
        order: 2;
    }
}

.teams__main {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width:490px) {
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
    }
}

.team__left {
    text-align: right;
    justify-content: flex-end;
}

.match-information {
    align-items: center;
    display: flex;

    .match__data {
        font-size: 1rem;
        margin: 0 10px;
    }
}

.team__right {
    text-align: left;
    justify-content: flex-start;
}

.team__left,
.team__right {
    @media (max-width: 490px) {
        text-align: center;
    }
}

.team__link {
    margin: 1rem;
}

.team__icon {
    width: 35px;
    height: 35px;
}

// .team__link:hover + .team__name {
//     color: #0c1149;
// }


.stats__img {
    width: 100%;
}

// About
.window {
    display: flex;
    justify-content: center;
}

.about__img {
    display: flex;
    flex: 0 0 450px;

    img {
        max-width: 100%;
    }

    @media (max-width:850px) {
        display: none;
    }
}

.content__about {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
    flex: 1 1 auto;
    padding: 15px;

    @media (max-width:850px) {
        background: url("../img/chelsea--white.jpg") center no-repeat;
        background-size: cover;
        text-align: center;
    }

    @media (max-width:690px) {
        max-width: 100%;
    }
}

.title__about {
    color: #000000;
    margin-bottom: 30px;
}

.description__about {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 30px;
}

// ========== Sponsors ==========
.sponsors {
    background-color: #fff;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
}

.content__sponsors {
    flex-direction: row;
}

.sponsor__item {
    width: auto;
    list-style-type: none;

    @media (max-width:1150px) {
        width: 30%;
    }

    @media (max-width:690px) {
        width: 50%;
    }
}

.sponsor__img {
    max-width: 100%;
}

// ========== Subscription ==========
.subscription {
    background: #0c1149;
    padding: 70px 0;
}

.title__sub {
    text-align: center;
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    color: #4F4F4F;
    width: 100%;
    max-width: 430px;
    height: 55px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 28px;
    padding: 0 15px;
    border: 4px solid white;

    &:focus {
        border: 4px solid #FF4747;
    }
}

.description__terms {
    font-size: 18px;
    font-weight: 400;
    max-width: 30%;
    text-align: center;
    line-height: 30px;

    @media (max-width:990px) {
        max-width: 100%;
    }
}

.terms__bg {
    width: 100%;
}