// ========== Intro ==========
.intro {
    width: 100%;
    height: 100vh;
    min-height: 580px;
    display: flex;
    align-items: center;
    background: url("../img/backgrounds.jpg") center no-repeat;
    background-size: cover;

    @media (min-width:2000px) {
        min-height: 890px;
    }
}

.content__intro {
    align-items: flex-start;
    padding: 30px 0;
}

.title__intro {
    color: #0E3AB1;
    width: Min(80%, 800px);
    font-size: clamp(45px, 5vw, 100px);
    line-height: clamp(50px, 5vw, 125px);
    // text-shadow: 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
    margin-bottom: 35px;

    @media (max-width: 560px) {
        width: Min(80%, 330px);
    }
}

.description__intro {
    width: Min(80%, 400px);
    font-size: clamp(18px, 5vw, 25px);
    margin-bottom: 30px;

    @media (max-width: 640px) {
        width: Min(80%, 350px);
    }
}

// ========== Event ==========
.event {
    width: 100%;
    height: auto;
    background: url("../img/background-line.jpg") center no-repeat;
    background-size: cover;
    padding: 0 0 70px;
    text-align: center;
}

.vertical__body {
    padding-bottom: 100px;
    max-width: 990px;
    margin: 0 auto;

    @media (min-width: 2000px) {
        max-width: 1290px;
    }
}

.vertical__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -22.5px;
}

.vertical__column {
    display: flex;
    flex: 0 1 33.333%;
    padding: 22.5px;
}

.vertical__item {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border: 4px solid #F3B31D;
    border-radius: 35px;
    padding: 15px;
}

.vertical__text {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    margin: 0 0 30px 0;

    @media (min-width: 2000px) {
        margin: 0 0 60px 0;
    }
}

.title__event {
    padding: 70px 0 50px;
}

.logo__event {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.logo__img {
    width: 64px;
    height: 64px;
}

.vs__between {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin: 0 20px;

    @media (min-width: 2000px) {
        margin: 0 50px;
    }
}

.description__event {
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 2px;

    @media (max-width: 770px) {
        font-size: 24px;
    }

    @media (min-width: 2000px) {
        font-size: 40px;
    }
}

// ========== Modal ==========
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.7s ease 0s;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.match {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    position: relative;
    transition: all 0.7s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    box-shadow: 0 3px 30px #ff4747;
}

// animation for modal-window
.modal.open .match {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.match__header {
    color: #fff;
    background: url("../img/modal.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 15px;
}

.close-modal {
    position: absolute;
    top: -15px;
    right: -1px;
    font-size: 55px;
    font-weight: 700;
    color: #ff4747;
    cursor: pointer;
}

.match__title {
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
}

.match__icon {
    margin-right: 15px;
}

.match__img {
    width: 25px;
    height: 25px;
}

.teams {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.team__name {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;

    @media (max-width:490px) {
        order: 2;
        font-size: 14px;
    }
}

.teams__main {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width:490px) {
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
    }
}

.team-left {
    text-align: right;
    justify-content: flex-end;

    .team__logo {
        margin-left: 15px;

        @media (max-width: 490px) {
            margin: 0 0 10px 0;
        }
    }
}

.match-information {
    align-items: center;
    display: flex;

    .match__data {
        margin: 0 10px;
    }
}

.team-right {
    text-align: left;
    justify-content: flex-start;

    .team__logo {
        margin-right: 15px;

        @media (max-width: 490px) {
            margin: 0 0 10px 0;
        }
    }

    @media (max-width: 490px) {
        text-align: center;
    }
}

.team__img {
    width: 35px;
    height: 35px;
}

.match__main {
    background-color: #F4F4F4;
}

.stats__img {
    width: 100%;
}

// About
.window {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.about__img {
    display: flex;
    flex: 0 0 450px;

    img {
        max-width: 100%;
    }

    @media (max-width:850px) {
        display: none;
    }
}

.content__about {
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1 1 auto;
    padding: 15px;

    @media (max-width:850px) {
        background: url("../img/chelsea--white.jpg") center no-repeat;
        background-size: cover;
        text-align: center;
    }
}

.title__about {
    color: #000000;
    margin-bottom: 30px;
}

.description__about {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 30px;
}

// ========== Sponsors ==========
.sponsors {
    background-color: #fff;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
}

.content__sponsors {
    flex-direction: row;
}

.sponsor__item {
    width: auto;
    list-style-type: none;

    @media (max-width:1150px) {
        width: 30%;
    }

    @media (max-width:690px) {
        width: 50%;
    }
}

.sponsor__img {
    max-width: 100%;
}

// ========== Subscription ==========
.subscription {
    background: #0c1149;
    padding: 70px 0;
}

.title__sub {
    text-align: center;
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    color: #4F4F4F;
    width: 100%;
    max-width: 430px;
    height: 55px;
    margin-bottom: 30px;
    outline: none;
    border-radius: 28px;
    padding: 0 15px;
    border: 4px solid white;

    &:focus {
        border: 4px solid #FF4747;
    }
}

.description__terms {
    font-size: 18px;
    font-weight: 400;
    max-width: 20%;
    text-align: center;
    line-height: 30px;

    @media (max-width:990px) {
        max-width: 100%;
    }
}

.terms__bg {
    width: 100%;
}