// Animatin menu for mobile
.navbar.active {
    -webkit-animation-name: navbar;
    animation-name: navbar;
    -webkit-animation-duration: 0.5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes navbar {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

// Animation hamburger
.ham {
    transition: transform 400ms;
    user-select: none;
}

.ham-rotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #FF4747;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.effect .top {
    stroke-dasharray: 40 82;
}

.effect .middle {
    stroke-dasharray: 40 111;
}

.effect .bottom {
    stroke-dasharray: 40 161;
}

.effect.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.effect.active .middle {
    stroke-dashoffset: 23px;
}

.effect.active .bottom {
    stroke-dashoffset: -83px;
}