// Animation burger menu
.nav__menu.active {
    -webkit-animation-name: menu;
    animation-name: menu;
    -webkit-animation-duration: 0.5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes menu {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

// Hamburger
.hamburger {
    user-select: none;
    transition: transform 400ms;
}

.hamburger_rotate.active {transform: rotate(45deg);}

.hamburger__line {
    fill: none;
    stroke: #FF4747;
    stroke-width: 5.5;
    stroke-linecap: round;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}

.hamburger__effect {
    .hamburger__line_top {stroke-dasharray: 40 82;}

    .hamburger__line_middle {stroke-dasharray: 40 111;}

    .hamburger__line_bottom {stroke-dasharray: 40 161;}
}

.hamburger__effect.active {
     .hamburger__line_top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
    }

    .hamburger__line_middle {
    stroke-dashoffset: 23px;
    }

    .hamburger__line_bottom {
    stroke-dashoffset: -83px;
    }
}