// ========== Buttons ==========
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 55px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 3rem;
    border: 4px solid #F3B31D;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding: 0 4rem;
    transition: 0.3s;

    &:focus-visible {
        color: #fff;
        background: #0c1149;
        border: 4px solid #FF4747;
    }
}

.btn__intro {
    width: Min(290px, 360px);
    background: #0E3AB1;
}

.btn__event {
    color: #000;
    background: #fff;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.btn__about {
    background: #0E3AB1;
    text-align: center;

    &:hover {
        background: #FF4747;
        border: 4px solid #FF4747;
    }

    @media (max-width:390px) {
        width: 100%;
        padding: 0 1rem;
    }
}

.btn__about_padding {
    @media (max-width:490px) {
        width: 100%;
        padding: 0 1rem;
    }
}

.btn__join {
    background: #0E3AB1;
    margin-bottom: 1rem;
}

.btn__intro,
.btn__event,
.btn__join {

    &:hover {
        color: #fff;
        background: #FF4747;
        border: 4px solid #fff;
    }
}

// == Btn in modal window and animation:
.modal__close {
    width: clamp(10px, 1vw, 20px);
    height: clamp(10px, 1vw, 20px);
    cursor: pointer;
    transform: rotate(45deg) scale(2);
    position: absolute;
    right: 1rem;
    top: 1rem;

    .arrow__left,
    .arrow__right {
        display: block;
        background: #0c1149;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        animation-iteration-count: 1;
        transition: 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.modal__close {
    .arrow__left {
        width: 2px;
        height: 100%;
        margin-left: -1px;
        transform: skewY(45deg);
        top: 0;
    }

    .arrow__right {
        width: 100%;
        height: 2px;
        margin-top: -1px;
        transform: skewX(-45deg);
        left: 0;
    }

    &:hover {
        .arrow__left {
            animation: left-out 0.25s forwards, left-in 0.25s forwards 0.25s;
        }

        .arrow__right {
            animation: right-out 0.25s forwards 0.1s, right-in 0.25s forwards 0.35s;
        }
    }

    @keyframes left-out {
        from {
            top: 0%;
            height: 100%;
        }

        to {
            top: 200%;
            height: 0%;
        }
    }

    @keyframes left-in {
        from {
            top: -100%;
            height: 0%;
        }

        to {
            top: 0%;
            height: 100%;
        }
    }

    @keyframes right-out {
        from {
            left: 0%;
            width: 100%;
        }

        to {
            left: 200%;
            width: 0%;
        }
    }

    @keyframes right-in {
        from {
            left: -100%;
            width: 0%;
        }

        to {
            left: 0%;
            width: 100%;
        }
    }
}