// Animation hamburger
.hamburger {
    user-select: none;
    transition: transform 400ms;
}

.hamburger_rotate.active {transform: rotate(45deg);}

.hamburger__line {
    fill: none;
    stroke: #FF4747;
    stroke-width: 5.5;
    stroke-linecap: round;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
}

.hamburger__effect {
    .hamburger__line_top {stroke-dasharray: 40 82;}
    .hamburger__line_middle {stroke-dasharray: 40 111;}
    .hamburger__line_bottom {stroke-dasharray: 40 161;}
}

.hamburger__effect.active {
     .hamburger__line_top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
    }

    .hamburger__line_middle {
    stroke-dashoffset: 23px;
    }

    .hamburger__line_bottom {
    stroke-dashoffset: -83px;
    }
}

// ========== Buttons ==========
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 55px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 3rem;
    border: 4px solid #F3B31D;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding: 0 4rem;
    transition: .2s;


    &:focus {
        color: #fff;
        background-color: #0c1149;
        border: 4px solid #FF4747;
    }
}

.btn__intro {
    width: Min(290px, 360px);
    background-color: #0E3AB1;
}

.btn__event {
    color: #000000;
    background-color: #fff;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.btn__about {
    background-color: #0E3AB1;
    text-align: center;

    &:hover {
        background-color: #FF4747;
        border: 4px solid #FF4747;
    }

    @media (max-width:390px) {
        width: 100%;
        padding: 0 1rem;
    }
}

.btn__about_padding {
    @media (max-width:490px) {
        width: 100%;
        padding: 0 1rem;
    }
}

.btn__join {
    background-color: #0E3AB1;
    margin-bottom: 1rem;
}

.btn__intro,
.btn__event,
.btn__join {
    &:hover {
        color: #fff;
        background-color: #FF4747;
        border: 4px solid #fff;
    }
}

// Btn in modal window and animation
.modal__disable {
    width: clamp(10px, 1vw, 20px);
    height: clamp(10px, 1vw, 20px);
    transform: rotate(45deg) scale(2);
    position: absolute;
    right: 15px;
    top: 15px;
}
 
.modal__disable .left,
.modal__disable .right {
    display: block;
    background: #0c1149;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: 1;
    transition: .2s;
}
 
.modal__disable {
    .left {
        height: 100%;
        width: 2px;
        margin-left: -1px;
        transform: skewY(45deg);
        top: 0;
    }
    .right {
        width: 100%;
        height: 2px;
        margin-top: -1px;
        transform: skewX(-45deg);
        left: 0;
    }
}
 
@keyframes left-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0%;
    }
}
@keyframes left-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}
@keyframes right-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@keyframes right-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}

.modal__disable:hover {
    cursor: pointer;

    .left {
        animation: left-out 0.25s forwards, left-in 0.25s forwards 0.25s;
    }
    .right {
        animation: right-out 0.25s forwards 0.1s, right-in 0.25s forwards 0.35s;
    }
}