@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{file_name}.woff2") format(woff2);
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";


body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0C1149;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

picture {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.lock-scroll {
    overflow: hidden;
}

@import "_button.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";