@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{file_name}.woff2") format(woff2);
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #e3ecc2;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

picture {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 9;
}

.title {
    color: #fff;
    font-weight: 700;
}

.description {
    color: #fff;
    font-weight: 400;
}

.button {
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    background-color: #7f7770;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background .1s linear;
    letter-spacing: 3px;
    outline: 0;

    @media (max-width: 480px) {
        font-size: 18px;
        width: 250px;
    }
}

.header {
    width: 100%;
    height: 100px;
    padding-top: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 0 0 25px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    position: relative;
}

.background--blue {
    width: 100%;
    background: url("../img/blue-face.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 777px;
    position: relative;
    z-index: 2;
}

.background--orange {
    background: url("../img/background--orange.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: absolute;
    top: 85px;
    z-index: 1;

    width: 100%;
    height: 100vh;
    min-height: 800px;
}

.intro__text-area {
    padding-bottom: 100px;
}

.intro__title {
    font-size: 103px;
}

.intro__description {
    max-width: 50%;
    font-size: 33px;
    margin: 0 auto;
}

.menu__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__title {
    color: #7287ae;
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px 0 100px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 75px;
}

.card__item {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card__photo {
    width: 100%;
}

.card__image {
    width: 100%;
}

.menu__text-area {
    height: auto;
    background-color: #fff;
    text-align: left;
}

.card__title {
    color: #504f4f;
    font-size: 33px;
    font-weight: 700;
    margin: 15px 0;
}

.card__description {
    color: #504f4f;
    font-size: 25px;
    font-family: "Lato-Regular";
    margin-bottom: 15px;
}

.price {
    color: #504f4f;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.menu__button {
    width: 25%;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    background-color: #7287ae;
    letter-spacing: 0;
    padding: 10px 20px;
    margin-bottom: 100px;

    &:hover {
        color: #fff;
        background-color: #586988;
    }

    @media (max-width: 480px) {
        width: 200px;
    }
}