@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{file_name}.woff2") format(woff2);
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0c1149;
}

body.lock {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

picture {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 2000px) {
        max-width: 1800px;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.title {
    font-size: clamp(40px, 5vw, 72px);
    color: #FFFFFF;
    font-weight: 800;
}

.description {
    color: #FFFFFF;
    font-weight: 700;
}

@import "_button.scss";
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";

// Page About-Us

.about-us {
    background: #0c1149;
}

.content__about-us {
    height: auto;
    padding: 50px 0;
}

.title__about-us {
    text-align: center;
    padding: 50px 0;
}

.official-logo {
    width: 100%;
    margin-bottom: 50px;
}